{% extends "base.html" %}

{% block content %}
<h1>ようこそ{{ user_name }}さん</h1>
<p>ツイートする</p>
<form action="{% url 'tweet' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit">
</form>
<p>ツイート一覧</p>
<table border="1">
    <tr>
        <th>user</th>
        <th>content</th>
        <th>created_at</th>
    </tr>
    {% for tweet in tweets %}
        <tr>
            <td>{{ tweet.user.user_name }}</td>
            <td>{{ tweet.content }}</td>
            <td>{{ tweet.created_at }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
