{% extends "base.html" %}

{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        {% if not disable_follow_botton %}
            {% if is_following %}
                <button type="submit" formaction="{% url 'unfollow' %}">フォローをやめる</button>
            {% else %}
                <button type="submit" formaction="{% url 'follow' %}">フォローする</button>
            {% endif %}
        {% endif %}
    </form>
</div>
<div>
    <p>{{ profile_user.profile | default:"" }}</p>
    {% if profile_user.url %}
        <a href="{{ profile_user.url }}">URL</a>
    {% endif %}
    <p>{{ profile_user.birth_date | default:"" }}</p>
</div>
<div>
    <p>ツイート一覧</p>
    <table border="1">
        <tr>
            <th>user</th>
            <th>content</th>
            <th>created_at</th>
        </tr>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.user.user_name }}</td>
                <td>{{ tweet.content }}</td>
                <td>{{ tweet.created_at }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
